# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Build
dist/
build/
*.exe

# PyInstaller
*.spec

# Testes
.pytest_cache/
.ruff_cache/
.mypy_cache/

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db